.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.container div.form-container {
  min-width: 18rem;
  max-width: 20rem;
  padding: 1rem;
  background: whitesmoke;
  border: 2px solid #2e2f2f;
  border-radius: 1rem;
}

.container div.form-container form {
  width: 12rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container div.form-container form input {
  text-align: center;
  padding: .5rem;
  border: none;
  border-radius: 1rem;
  background: whitesmoke;
  color: #2e2f2f;
  outline: 2px solid #fe6e6f;
}

.container div.form-container form input:focus {
  outline: 2px solid rgba(254, 110, 111, .6);
}

.container div.form-container form button[type=submit] {
  padding: .5rem;
  border: none;
  border-radius: 1rem;
  background: #fe6e6f;
  color: whitesmoke;
}

.container div.form-container form button[type=submit]:disabled {
  background: #b35252;
}

.container div.form-container form button[type=submit]:hover {
  cursor: pointer;
  transform: scale(.85);
  opacity: .6;
}